#!/usr/bin/env bash
source_up_if_exists

watch_file mise.toml
watch_file go.mod
watch_file .pre-commit-config.yaml

# Load environment variables from .env files if they exist
dotenv_if_exists .env
dotenv_if_exists .env.local

# Check for required tools and provide guidance if they are missing
if ! has git; then
    log_error "❌ git not found."
    log_error "This project relies on git for development, please install it to run the project:"
    log_error " - https://git-scm.com/downloads"
    exit 1
fi

if ! has go; then
    log_error "❌ Go not found..."
    log_error "This project relies on Go for development. Tool versions are pinned in mise.toml:"
    log_error " - https://mise.jdx.dev/getting-started.html"
    return 1
fi

if ! has just; then
    log_status "⚠️  just not found..."
    log_status "Developer experience will be degraded, install it (pinned in mise.toml) to get the best experience:"
    log_status " - https://just.systems/man/en/"
fi

if ! has golangci-lint; then
    log_status "⚠️  golangci-lint not found..."
    log_status "Linting won't work locally, install it (pinned in mise.toml):"
    log_status " - https://golangci-lint.run/welcome/install/"
fi

if ! has pre-commit; then
    log_status "❌ no git commit hooks runner found..."
    log_status "Developer experience will be degraded, install pre-commit (pinned in mise.toml):"
    log_status " - https://pre-commit.com/#install"
fi

export GOBIN="$PWD/.bin"
PATH_add "$GOBIN"

if [ -d .git ]; then
    # Install git hooks if possible
    if has pre-commit; then
        log_status "⌛ Installing pre-commit git hooks..."
        pre-commit install
    fi
else
    log_status "⚠️  No .git directory found. Skipping git hooks installation."
fi

export CGO_ENABLED=0

log_status "✅ Environment setup complete."
